DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
DATA_FILE=
STEAL_EGG_TRACKER_ENABLED=true
STEAL_EGG_ALERT_CHANNEL_ID=
STEAL_EGG_ALERT_ROLE_ID=
STEAL_EGG_TRACKED_RARITIES=DIVINE,ETERNAL,SECRET
STEAL_EGG_SOURCE_URL=
STEAL_EGG_SOURCE_API_KEY=
STEAL_EGG_POLL_INTERVAL_MS=5000
STEAL_EGG_WEBHOOK_PORT=3000
STEAL_EGG_WEBHOOK_SECRET=
